attrs==21.2.0
cocotb==1.6.1
cocotb-bus==0.2.0
cocotb-test==0.2.1
execnet==1.9.0
flake8==4.0.1
iniconfig==1.1.1
mccabe==0.6.1
packaging==21.3
pluggy==1.0.0
py==1.11.0
pycodestyle==2.8.0
pyelftools==0.27
pyflakes==2.4.0
pyparsing==3.0.6
pytest==6.2.5
pytest-forked==1.4.0
pytest-xdist==2.5.0
pyuvm==2.6.0
rope==0.22.0
tabulate==0.8.9
toml==0.10.2
